* {
    margin : 0;
    padding : 0;
}

body {
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
}

.header {
    width : 100%;
    background: #3b5999;
    color : #fff;
    text-align: center;
    padding: 1rem;
}

a {
    font-size: 40px;
    text-decoration: none;
    color : black;
    white-space: nowrap;
}

.word-display {
    margin-top: 3rem;
    font-size: 80px;
    color: #3b5999;
}
.word-input-box{
    margin-top: 2rem;
}
.word-input{
    padding: 0.5rem;
    width: 300px;
}

.game-info{
    margin-top: 2rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    width:  200px;
}

.time , .score{
    font-size: 30px;
}

.button{
    width: 200px;
    height : 35px;
    background-color: #3b5999;
    color : #fff;
    margin-top: 2rem;
    cursor: pointer;
    border: none;
}

.loading{
    background: #ccc;
    cursor: not-allowed;
}

p{
    margin-top: 2.5rem;
    font-size: 0.5rem;
}